body {
  font-family: Helvetica;
  font-size: 20px;
  background-color: black;
  color: #dfd3c3;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: flex;
  text-decoration: underline;
}

.nav-item {
  margin-right: 20px;
}

.logo {
  height: 50px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-image {
  height: 700px;
  opacity: 0.8;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfd3c3;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  width: 1200px;
}
